h1 {
    background-color: orangered;
    margin: 0px;
    padding: 40px ;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    margin: 0px;
}

#home {
    width: 80px;
    position: absolute;
    margin-top: -100px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: orangered;
}

p {
    text-align: center;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 150%;
}

#creator {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

img {
    display: block;
    margin: auto;
    width: 800px;
    height: auto;
}

span a {
    color: yellow;
    text-decoration: underline;
}