body {
    /* background-color: rgb(206, 221, 228); */
    background-color: aliceblue;
    /* background-color: azure; */
    background-color: rgb(231, 237, 243);
    margin: 0;
}

h1 {
    color: rgb(242, 242, 15);
}

header {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(16, 94, 16);
    color: white;
    display: grid;
    grid-template-columns: 7% auto;
}

nav a {
    margin: auto;
    padding: 19px;
    background-color: darkgray;
    color: white;
}

nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

#home {
    border: 2px solid black;
    border-bottom:  1px solid black;
    border-top: 1px solid black;
    margin-left: 0;
}

#about {
    border: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 0;
}

.popup {
    width: 250px;
    border: 1px solid black;
    background-color: beige;
    margin: auto;
}

form {
    border: 1px solid black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: beige;
    width: 500px;
    margin: auto;
}

#difficulty {
width: 146px;
}

main {
    margin-bottom: 15px;
}

main div {
    text-align: center;
    border-radius: 20px;
}

.question {
    padding-bottom: 20px;
    background-color: beige;
    border: 5px solid green;
    width: 700px;
    margin: auto;
    margin-bottom: 20px;
}

.score {
    border: 5px solid black;
    background-color: beige;
    width: 250px;
    height: 100px;
    position: fixed;
    top: 140px;
    right: 75px;

}

.hidden {
    display: none;
}

@media (max-width:1200px){
    .question {
        width: 600px;
        margin-left: 20%;
    }

    .score {
        width: 200px;
    }
}

@media (max-width:1140px) {
    .question {
        margin-left: 10%;
    }
}

@media (max-width:1000px){
    .question{
        width: 550px;
        margin-left: 5%;
    }
}